In [1]:
import pandas as pd

In [6]:
file = pd.read_csv("data/cleaned_joint.csv",index_col=0)
file.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,No_of_Votes,range,revenue,budget,justified_revenue
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,1990s,28341469,25000000,28.341469
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,1970s,245066411,6000000,245.066411
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,2000s,1004558444,185000000,1004.558444
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,1970s,47542841,13000000,47.542841
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,1950s,1000000,350000,1.000000

In [14]:
def func(genre):
    return genre.split(",")

file["split_genre"] = file["Genre"].apply(str.split,args=",")

In [15]:
file.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,No_of_Votes,range,revenue,budget,justified_revenue,split_genre
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,1990s,28341469,25000000,28.341469,[Drama]
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,1970s,245066411,6000000,245.066411,"[Crime, Drama]"
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,2000s,1004558444,185000000,1004.558444,"[Action, Crime, Drama]"
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,1970s,47542841,13000000,47.542841,"[Crime, Drama]"
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,1950s,1000000,350000,1.000000,"[Crime, Drama]"

In [17]:
# reference: https://stackoverflow.com/questions/45312377/how-to-one-hot-encode-from-a-pandas-column-containing-a-list
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(sparse_output=True)

df = file.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(file.pop('split_genre')),
                index=file.index,
                columns=mlb.classes_))
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,...,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Horror,Mystery,Western
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,...,0,0,0,0,0,1,0,0,0,0
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,...,0,0,0,0,1,0,0,0,0,0
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,...,0,0,0,0,1,0,0,0,0,0
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,...,0,0,0,0,1,0,0,0,0,0

In [18]:
df.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'range',
       'revenue', 'budget', 'justified_revenue', ' Action', ' Adventure',
       ' Biography', ' Comedy', ' Crime', ' Drama', ' Family', ' Fantasy',
       ' Film-Noir', ' History', ' Horror', ' Music', ' Musical', ' Mystery',
       ' Romance', ' Sci-Fi', ' Sport', ' Thriller', ' War', ' Western',
       'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Horror', 'Mystery', 'Western'],
      dtype='object')

In [19]:
df.to_csv("data/cleaned_joint_hot_encoding.csv")