In [13]:
import pandas as pd

In [14]:
short = pd.read_csv("data/archive/final_cleaned.csv")
long = pd.read_csv("data/data/cleaned_data.csv")

In [15]:
short.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'range'],
      dtype='object')

In [16]:
long.columns

Index(['budget', 'genres', 'keywords', 'original_language', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages',
       'vote_average', 'vote_count', 'title', 'cast', 'crew', 'actor1',
       'actor2', 'actor3', 'director', 'year', 'month', 'day', 'dow'],
      dtype='object')

In [17]:
long_part = long[["title","revenue","budget"]].rename(columns={"title":"Series_Title"})
long_part.head()

                               Series_Title     revenue     budget
0                                    Avatar  2787965087  237000000
1  Pirates of the Caribbean: At World's End   961000000  300000000
2                                   Spectre   880674609  245000000
3                     The Dark Knight Rises  1084939099  250000000
4                               John Carter   284139100  260000000

In [18]:
new = pd.merge(short, long_part, how="inner")

In [19]:
new["justified_revenue"] = new["revenue"].div(1000000)

In [20]:
new.isnull().sum()

Series_Title         0
Released_Year        0
Runtime              0
Genre                0
IMDB_Rating          0
Director             0
Star1                0
Star2                0
Star3                0
Star4                0
No_of_Votes          0
range                0
revenue              0
budget               0
justified_revenue    0
dtype: int64

In [21]:
short.shape

(999, 12)

In [22]:
new.shape

(442, 15)

In [23]:
new.to_csv("data/cleaned_joint.csv")